html {
  min-height: 100%;
}

body {
  background-color: #fff;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.section_main {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.section_center {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.menu_section_middle {
  margin-top: 30px;
}

.button_big {
  display: inline-block;
  background-color: #00a37a;
  color: #fff;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid #00a37a;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}
.button_big:hover {
  background-color: #196074;
  transition: 0.15s;
  border: 3px solid #196074;
}

.button_big div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_big_inv {
  background-color: #fff;
  color: #00a37a;
  border: 3px solid #00a37a;
}
.button_big_inv:hover {
  color: #fff;
  background-color: #00a37a;
  transition: 0.15s;
  border: 3px solid #00a37a;
}

.table_main {
  background-color: #fafafa;
  margin: auto;
  text-align: left;
  width: 100%;
}

.table_main tr td {
  padding: 8px;
  vertical-align: middle;
}

.table_main tr th {
  padding: 8px;
  background-color: #00a37a;
  color: #fff;
  text-transform: uppercase;
}

.table_main a {
  font-weight: bold;
  text-decoration: none;
  color: #00a37a;
}

.table_main a:hover {
  transition: 0.15s;
  color: #196074;
}

.table_main tr:nth-child(odd) {
  background-color: #eee;
}

.table_error tr th {
  background-color: #d9534f;
}

.placeholder_description {
  text-align: left;
  display: inline-block;
  max-width: 90%;
}

.head_1 {
  font-weight: bold;
}

.head_2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

.form_input_text {
  border-radius: 20px;
}

.form_box {
  background-color: #eee;
  padding: 50px 20px;
}

.container_white {
  background-color: #ffffff;
}

.container_grey {
  background-color: #f1f1f1;
}

.container_blue {
  background-color: #00a37a;
}

.container_bluetranslucent {
  background-color: #00a37aa4;
}

.container_lightblue {
  background-color: #e8f8f8;
}

.container_lightred {
  background-color: #ffe1e0;
}

.container_fileupload {
  background-color: #ffffff;
  border: 3px solid #00a37a;
}

.link_main {
  color: #00a37a;
  font-weight: bold;
  transition: 0.2s;
}

.link_main:hover {
  color: #196074;
  text-decoration: none;
}

.link_red {
  color: #d9534f;
  font-weight: bold;
  transition: 0.2s;
}

.link_red:hover {
  color: #b3423e;
  text-decoration: none;
}

.link_grey {
  color: #aaa;
  font-weight: bold;
  transition: 0.2s;
}

.link_grey:hover {
  color: #888;
  text-decoration: none;
}

.link_lightblue {
  color: #94f0f5;
  font-weight: bold;
  transition: 0.2s;
}

.link_lightblue:hover {
  color: #86c7ca;
  text-decoration: none;
}

.text_main {
  color: #00a37a;
}

.text_green {
  color: #2ea300;
}

.text_white {
  color: #fff;
}

.text_red {
  color: #d9534f;
}

.dashboard_box {
  border-top: 5px solid #00a37a;
}

.image_background {
  background-size: cover;
  background-position: center;
}

.image_tutorial {
  max-width: 100%;
}

.image_gallery img {
  max-width: 100%;
  max-height: 150px;
}

.footer_main {
  background-color: #196074;
  color: #fff;
  position: absolute;
  bottom: 0;
  margin-top: 50px;
}

.navbar {
  background-color: #00a37a;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.nav-link:hover {
  color: #f1f1f1;
}

.btn-primary {
  border: 0;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: #00a37a;
}

.btn-primary:hover {
  background-color: #196074;
}

.btn-secondary {
  border: 0;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 25px;
}

.btn-danger {
  border: 0;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: #d9534f;
}

.form-control {
  border-radius: 20px;
}

#carouselProductImages div {
  height: 20rem;
}
#carouselProductImages div div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
